<div class="sidebar">
  <div class="user-container">
    <div class="userImg">
      <img src={{user?.avatar}}>
    </div>

    <h2 *ngIf="user; else null">
      {{user.fullname}}
    </h2>

    <div class="user-container_divider">
      <h5>Access Lvl</h5>
      <h4 *ngIf="user?.fullname; else null">ADMIN</h4>
      <h4 *ngIf="!user">VISITOR</h4>
    </div>

  </div>
  <div class="navigation-container">
    <ul>
      <li>
        <a [routerLink]="['/dashboard/home']" routerLinkActive="router-link-active">News</a>
      </li>
      <li>
        <a [routerLink]="['/dashboard/courses']" routerLinkActive="router-link-active">Cursos</a>
      </li>
      <li>
        <a [routerLink]="['/dashboard/students']" routerLinkActive="router-link-active">Alumnos</a>
      </li>
      <li>
        <a [routerLink]="['/dashboard/inscriptions']" routerLinkActive="router-link-active">Inscripciones</a>
      </li>
      <li>
        <a>Not in Use</a>
      </li>
      <li>
        <a [routerLink]="['/dashboard/users']" routerLinkActive="router-link-active">Users</a>
      </li>
    </ul>

  </div>
  <div class="logout-container">
    <h4 *ngIf="user?.fullname; else null"><a (click)="authService.logOut()">Log Out</a></h4>
    <span *ngIf="user?.fullname; else null">
      <a (click)="authService.logOut()">
        <i class="fa-solid fa-right-from-bracket"></i>
      </a>
    </span>
  </div>

</div>