.sidebar {
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  width: 11vw;
  height: 100vh;
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5);
  .user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 30%;
    width: auto;
    .userImg {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      margin-top: 30%;
      img {
        width: 80%;
        height: auto;
        border-radius: 100%;
      }
    }
    h2 {
      font-family: "DM Sans", sans-serif;
      font-weight: 500;
      font-size: 1.3em;
      color: rgba(0, 0, 0, 0.35);
      margin-top: 20px;
      margin-bottom: 0;
    }
    .user-container_divider {
      display: flex;
      flex-wrap: wrap;
      height: auto;
      width: 90%;
      justify-content: space-evenly;
      align-items: center;
      border-top-style: solid;
      border-top-width: 1.5px;
      border-top-color: rgba(0, 0, 0, 0.4);
      margin-bottom: 5px;
      margin-top: 2%;
      padding-top: 2%;
    }
    h5 {
      font-family: "DM Sans", sans-serif;
      margin: 0;
      color: rgba(130, 54, 206, 0.85);
      font-size: 0.85em;
      font-weight: 700;
    }
    h4 {
      font-family: "DM Sans", sans-serif;
      margin: 0;
      color: rgba(255, 0, 85, 0.9);
      font-weight: 800;
    }
  }
  .navigation-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: auto;
    ul {
      display: flex;
      flex-direction: column;
      text-decoration: none;
      text-align: center;
      justify-content: center;
      align-items: center;
      padding: 0;
    }
    li {
      list-style: none;
      padding-top: 5px;
      padding-bottom: 5px;
    }
    a {
      font-family: "DM Sans", sans-serif;
      font-weight: 700;
      font-size: 1.4em;
      color: rgba(0, 0, 0, 0.4);
    }
  }
  .logout-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    height: 20%;
    width: 100%;
    span {
      color: rgba(0, 0, 0, 0.7);
      font-size: 1.4em;
      height: 24px;
      display: flex;
      align-items: center;
    }
    h4 {
      margin: 0;
      margin-right: 5%;
      font-size: 1.1em;
      color: rgba(0, 0, 0, 0.7);
    }
  }
}
