<div class="sidebar">
  <div class="user-container">
    <div class="userImg">
      <img src="../../../../assets/images/userimg.jpg">
    </div>

    <h2>
      Julian Stradolini
    </h2>

    <div class="user-container_divider">
      <h5>Access Lvl</h5>
      <h4>ADMIN</h4>
    </div>

  </div>
  <div class="navigation-container">
    <ul>
      <li>
        <a [routerLink]="['/main/home']" routerLinkActive="router-link-active">News</a>
      </li>
      <li>
        <a [routerLink]="['/main/courses']" routerLinkActive="router-link-active">Cursos</a>
      </li>
      <li>
        <a [routerLink]="['/main/students']" routerLinkActive="router-link-active">Alumnos</a>
      </li>
      <li>
        <a [routerLink]="['/main/inscriptions']" routerLinkActive="router-link-active">Inscripciones</a>
      </li>
      <li>
        <a>Not in Use</a>
      </li>
      <li>
        <a [routerLink]="['/main/users']" routerLinkActive="router-link-active">Users</a>
      </li>
    </ul>

  </div>
  <div class="logout-container">
    <h4><a [routerLink]="['/auth/login']" routerLinkActive="router-link-active">Log Out</a></h4>
    <span>
      <a [routerLink]="['/auth/login']" routerLinkActive="router-link-active">
        <i class="fa-solid fa-right-from-bracket"></i>
      </a>
    </span>
  </div>

</div>