.header-container {
  display: flex;
  justify-content: space-between;
  height: 15vh;
  width: 89vw;
  .header-container-logo {
    width: 50%;
    margin-left: 1%;
    margin-top: 0.5%;
    img {
      width: 25%;
      height: auto;
    }
  }
  .header-container-log {
    display: flex;
    width: 50%;
    margin-right: 2%;
    margin-top: 1%;
    justify-content: end;
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 0.5%;
      margin-right: 0.5%;
      p {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1em;
        color: rgba(0, 0, 0, 0.4);
      }
      .fa-regular {
        font-size: 25px;
        color: rgba(0, 0, 0, 0.4);
      }
      .fa-solid {
        font-size: 25px;
        color: rgba(0, 0, 0, 0.9);
      }
    }
  }
}
