.error404-container {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  div {
    display: flex;
    button {
      height: auto;
      margin-left: 1%;
      margin-right: 1%;
      justify-content: center;
      align-items: center;
      a {
        font-size: 1.2em;
        text-decoration: none;
        color: white;
        margin: 0;
        padding: 0;
      }
    }
  }
}
