<div class="loginsite-container">

  <button mat-stroked-button color="primary">
    <a [routerLink]="['/dashboard/home']" routerLinkActive="router-link-active">
      Back to Site
    </a>
  </button>

  <div class="loginsite-container_login">
    <h1>Log in to Continue</h1>
    <div class="example-container">
      <form [formGroup]="loginForm">
        <mat-form-field appearance="fill" class="example-container_field">
          <mat-label>enter your email</mat-label>
          <input matInput placeholder="janedoe@example.com" formControlName="email" type="email" class="form-control"
            id="email">
          <mat-icon matSuffix>face</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="fill" class="example-container_field">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" type="password"
            class="form-control" id="password" placeholder="letter and numbers only">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </form>
    </div>
  </div>
  <div class="loginsite-container_home">
    <button [mat-dialog-close]="loginForm.value" [disabled]="loginForm.invalid" type="submit"
      class="btn btn-primary button-confirm" (click)="login()">Acept</button>
  </div>
</div>