<div class="login-container">
  <h1>Log in to Continue</h1>

  <div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Fill form field</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <button mat-stroked-button color="primary">
      <a>
        Enter
      </a>
    </button>
  </div>

  <div>
    <button mat-stroked-button color="primary">
      <a [routerLink]="['/home']" routerLinkActive="router-link-active">
        Back to Home
      </a>
    </button>
  </div>
</div>