.login-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  div {
    display: flex;
    button {
      height: auto;
      margin-left: 1%;
      margin-right: 1%;
      justify-content: center;
      align-items: center;
      a {
        color: black;
        font-size: 1.2em;
        text-decoration: none;
        margin: 0;
        padding: 0;
      }
    }
  }
}
