#cdk-overlay-0 {
  max-width: 20vw !important;
}
.mat-typography {
  img {
  }
  .about-container {
    .about-container_h2 {
      margin-bottom: 1%;
    }
    .about-container_price_duration {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: lighter;
      border-bottom-style: solid;
      border-top-style: solid;
      border-width: 1px;
      border-color: rgba(0, 0, 0, 0.2);
      margin-bottom: 1%;
      p {
        margin: 1%;
      }
    }
    .about-container_inscriptions {
      display: flex;
      justify-content: center;
      h4 {
        display: flex;
        font-weight: bold;
        .about-container-open {
          color: green;
          padding-left: 4px;
        }
      }
      .about-container-closed {
        color: red;
        padding-left: 4px;
      }
    }
  }
  .about-container_detailed {
  }
}
