<!-- <div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Alumnos</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-absolute text-center">
      <div class="container">
        <div class="example-header">
          <div class="example-table-container"> -->

<table mat-table [dataSource]="inscripcion$" class="mat-elevation-z8 demo-table">

  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- <ng-container matColumnDef="codigo">
                <th mat-header-cell *matHeaderCellDef> Codigo </th>
                <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
              </ng-container> -->

  <!-- Alumno Column -->
  <ng-container matColumnDef="alumno">
    <th mat-header-cell *matHeaderCellDef> Alumnos Inscritos</th>
    <td mat-cell *matCellDef="let element">{{element.alumno.nombre + ' ' +
      element.alumno.apellido}}</td>
  </ng-container>

  <!-- Curso Column -->
  <ng-container matColumnDef="curso">
    <th mat-header-cell *matHeaderCellDef> Curso Inscrito</th>
    <td mat-cell *matCellDef="let element"> {{element.curso.nombreCurso}} </td>
  </ng-container>

  <!-- <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef> Fecha</th>
                <td mat-cell *matCellDef="let element"> {{element.fecha | date:'dd/MM/YYYY'}} </td>
              </ng-container> -->

  <ng-container matColumnDef="eliminar">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button (click)="eliminarInscripcion(element)">
        <mat-icon color="primary">delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<!-- </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="button-container">
  <button (click)="clickAddCourse()" class="button-container_button">Add
    Course</button>
</div>