<app-spinner *ngIf="spinnerLoading" class="animate__animated animate__fadeIn"></app-spinner>

<table *ngIf="!spinnerLoading" mat-table [dataSource]="inscription$"
  class="mat-elevation-z8 demo-table animate__animated animate__fadeIn">


  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>


  <ng-container matColumnDef="student">
    <th mat-header-cell *matHeaderCellDef> Students </th>
    <td mat-cell *matCellDef="let element">{{element.student.name + ' ' +
      element.student.lastName}}</td>
  </ng-container>


  <ng-container matColumnDef="course">
    <th mat-header-cell *matHeaderCellDef> Courses in</th>
    <td mat-cell *matCellDef="let element"> {{element.course.name}} </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button (click)="clickDeleteInscription(element)">
        <mat-icon color="primary">delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div *ngIf="!spinnerLoading" class="button-container animate__animated animate__fadeIn">
  <button (click)="clickAddInscription()" class="button-container_button">Add Inscription</button>
</div>